{% extends "base.html" %} 
{% load static %} 
{% block extra_title %}Favourites{%endblock %} 
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 
{% block content %}
<!-- Shows users favourites -->
<div class="overlay"></div>
    <div class="container-fluid px-3 favourites-page">
        <div class="row">
    <div class="col-12 col-sm-6 p-4 my-auto">
      <h1 class="text-black">Favourites ({{ favourites_items_count }})</h1>
      <p class="text-black">Below are the items you have added to your favourites!</p>
    </div>
</div>
    
        <div class="row text-black">
            {% for favourite in favourites_items %}
            <!-- List of favourites -->
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="card" style="width: 18rem">
                {% if favourite.image %}
                <a href="{% url 'product_detail' favourite.id %}"><img src="{{ favourite.image.url }}" class="card-img-top" alt="{{ favourite.name }}"/>
                </a>
                {% else %}
                <a href="{% url 'product_detail' favourite.id %}"><img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="not available"/>
                </a>
                {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                    <h2 class="card-title">{{ favourite.name }}</h2>
                    </div>
                    <div class="col-12">
                    <h3 class="font-weight-light">
                        {{ favourite.category.friendly_name }}
                        </h3>
                    </div>
                {% if favourite.pre_sale_price %}
                <div class="col-6 align-self-center">
                    <p class="mb-0 text-left font-weight-bold red-strikethrough">
                        £{{ favourite.pre_sale_price }}
                    </p>
                </div>
                {% endif %}
                <div class="col-6 align-self-center font-black">
                  <strong>£{{ favourite.price }}</strong>
                </div>
            </div>
                <div class="center-div pt-3">
                        <form class="form" method="POST" action="{% url 'remove_product_from_favourites' favourite.id 'favourites' %}">
                            {% csrf_token %}
                            <button class="btn green-btn" type="submit"> Remove Favourite</button>
                        </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

{% if favourites_items.has_other_pages %}
<!-- Pagination -->
<div class="pagination-holder p-4">
        <nav aria-label="Products sorted">
            <ul class="pagination">
            {% if favourites_items.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ favourites_items.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="disabled page-item">
            <span class="page-link">Previous</span>
            </li>
            {% endif %} 
        {% for i in favourites_items.paginator.page_range %} {% if favourites_items.number == i %}
            <li class="page-item active">
                <span class="page-link">{{ i }} <span class="sr-only">(current)</span>
            </li>
        {% else %}
            <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %} {% endfor %} {% if favourites_items.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ favourites_items.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">Next</span></li>
        {% endif %}
      </ul>
    </nav>
</div>
  {% endif %}
</div>
<hr />
{% endblock %} 
<!-- Loads extra script for this page -->
{% block postloadjs %} 
{{ block.super }}
<script src="{% static 'favourites/js/favourites.js' %}"></script>
{% endblock %}
